# macOS
.DS_Store

# Xcode
build/
DerivedData/
*.xcuserdatad/
xcuserdata/
*.xcuserstate
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Secrets
Config.local.xcconfig
.env

# Swift Package Manager
.swiftpm/
.build/
Package.resolved

# CocoaPods
Pods/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
